{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="gap-2 d-flex flex-column justify-content-start h-100 w-100 text-center">
    <div class="gap-2 d-flex flex-row justify-content-start h-50 w-100 text-center">
        <div class="container gap-2 d-flex flex-column h-75 w-50 m-3">
            <label for="patternMSA" class="text-success-emphasis my-2">please provide a phyletic pattern MSA into a text field or upload from file
                <a href="https://en.wikipedia.org/wiki/FASTA_format" target="_blank">(FASTA format)</a>
                <sup><svg width="16" height="16" fill="currentColor" class="text-success-emphasis" viewBox="0 0 16 16">
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                </svg></sup>
            </label>
            <div class="d-flex gap-2 flex-row justify-content-end my-1">
                <input id="patternMSAFile" name="patternMSAFile" type="file" accept="*.*"
                       class="form-control rounded-pill" onchange="uploadFile('patternMSA', 'patternMSAFile')"/>
            </div>
            <textarea spellcheck="false" id="patternMSA" name="patternMSA" autocomplete="on" rows="6" class="form-control btn-light"
                      placeholder="please provide a phyletic pattern MSA here"></textarea>
            <label for="newickText" class="text-success-emphasis my-2">please provide a phylogenetic tree into a text field or upload from file
                <a href="https://en.wikipedia.org/wiki/Newick_format" target="_blank">(Newick format)</a>
                <sup><svg width="16" height="16" fill="currentColor" class="text-success-emphasis" viewBox="0 0 16 16">
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                </svg></sup>
            </label>
            <div class="d-flex gap-2 flex-row justify-content-end my-1">
                <input id="newickTextFile" name="newickTextFile" type="file" accept="*.*"
                       class="form-control rounded-pill" onchange="uploadFile('newickText', 'newickTextFile')"/>
                <input id="theDrawTreeButton" name="theDrawTreeButton" type="button" class="w-10 form-control btn btn-outline-success rounded-pill"
                      value="draw tree" onclick="drawTree()"/>
            </div>
            <textarea spellcheck="false" id="newickText" name="newickText" autocomplete="on" rows="6" class="form-control btn-light" onchange="drawTree()"
                      placeholder="please provide a phylogenetic tree here"></textarea>
            <div class="gap-2 d-flex flex-column my-1">
                <div class="d-flex gap-2 flex-row justify-content-end">
                    <input id="theButton" name="theButton" type="button" class="w-10 form-control btn btn-outline-success rounded-pill"
                          value="execute" onclick="computeLikelihoodOfTree()"/>
                    <input id="theСleaning" name="theСleaning" type="button" class="w-10 form-control btn btn-outline-success rounded-pill"
                          value="clear" onclick="clearForm()"/>
                    <input id="theExample1" name="theExample2" type="button" class="w-20 form-control btn btn-outline-success rounded-pill"
                          value="load an example #1" onclick="loadExample(1)"/>
                    <input id="theExample2" name="theExample2" type="button" class="w-20 form-control btn btn-outline-success rounded-pill"
                          value="load an example #2" onclick="loadExample(2)"/>
                </div>
            </div>
        </div>
        <div class="d-flex gap-2 flex-row text-start w-50 justify-content-start mx-3 my-5">
            <script src="//d3js.org/d3.v7.js"></script>
    <!--        <script src="https://d3js.org/d3.v4.js"></script>-->
            <div id="result" class="container gap-2 d-flex w-100">
                {{nwt.loaderCube()}}
                {{nwt.alerts()}}
    <!--            <div id="tree" class="m-0 p-0" style="height: 500px; width: 500px"></div>-->
                <div id="tree" class="m-0 p-0 h-100 w-100"></div>
                <div id="tooltip" class="text-justify"></div>
            </div>
        </div>
    </div>
    <div id="nodeInfo" class="gap-2 d-flex justify-content-center h-50 w-100 text-center">
    </div>
</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
