<!doctype html>
{% import 'base_newick_tools.html' as nwt %}
<html lang="en">
<head>
    <META NAME="date" CONTENT="2014-03-20">
    <META NAME="author"
          CONTENT="Ofir Cohen , Haim Ashkenazy , Frida Belinky , Dorothée Huchon , Tal Pupko">
    <META NAME="keywords" CONTENT="gain and loss rates, gain and loss events, GLOOME server">
    <META NAME="description" CONTENT="GLOOME: gain loss mapping engine">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{#    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
    <title>GLOOME{%- block title -%}{%- for subtitle in title -%}{{subtitle}}{% endfor -%}{%- endblock -%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />#}
    {%- block scripts -%}
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    {%- endblock -%}
</head>
{%- if data -%}
    <script>
        showResponse({{ data | tojson }});
    </script>
{% endif -%}
<body>
{%- block menu -%}
<header class="sticky-top bg-white">
<div class="navbar navbar-expand-lg horizontal-gradient">
    <div class="ms-4 m-2">{{nwt.logo(1, 'gray')}}</div>
    <div class="m-2">{{nwt.logo(2, 'gray')}}</div>
    <div class="m-2">{{nwt.logo(5, 'gray')}}</div>
    <div class="m-2">{{nwt.logo(6, 'gray')}}</div>
{#    <div class="ms-4 m-2" style="color: dimgray">{{nwt.logo(3)}}</div>#}
{#    <div class="ms-4 m-2" style="color: dimgray">{{nwt.logo(4)}}</div>#}
{#    {{nwt.svg()}}#}
{#    <span class="material-symbols-outlined" style="color: rgb(15, 5, 56)">graph_1</span>#}
{#    <span class="material-symbols-outlined ms-4 m-2" style="color: dimgray">graph_2</span>#}
{#    <span class="material-symbols-outlined" style="color: rgb(15, 5, 56)">graph_3</span>#}
{#    <span class="material-symbols-outlined" style="color: rgb(15, 5, 56)">graph_4</span>#}
    <a class="navbar-brand m-2" href="/" style="color: gray">Gloome 2.0</a>
{#    <div class="d-flex gap-2 flex-row flex-grow-1 justify-content-start">#}
{#    <div class="m-2 d-flex gap-2">#}
        {%- for m in menu -%}
            {%- if m.submenu -%}
{#            <div class="dropdown">#}
{#                <button type="button" class="w-auto h-auto form-control btn btn-outline-success rounded-2 btn-secondary dropbtn">{{m.name}}</button>#}
{#                <div class="dropdown-content">#}
{#                    {%- for submenu in m.submenu -%}#}
{#                        <a class="w-auto float-star form-control btn btn-outline-success rounded-2" href="{{url_for(submenu.url)}}">{{submenu.name}}</a>#}
{#                    {% endfor -%}#}
{#                </div>#}
{#            </div>#}
            {% else -%}
                <a class="w-auto h-100 m-0 border-0 btn btn-outline-success rounded-2" href="{{url_for(m.url)}}">{{m.name}}</a>
            {% endif -%}
        {% endfor -%}
{#        <label for="jobId" class="w-auto float-star form-control btn btn-outline-success rounded-2">READ JOB BY ID</label>#}
{#        <input id="jobId" name="jobId" type="number" title="please provide job id here" onchange="validateInput('jobId', )"#}
{#               min="1" max="999999999999999" step="0.1" class="w-auto float-star form-control btn btn-outline-success rounded-2"/>#}
{#    </div>#}
{#    </div>#}
</div>
{%- endblock -%}
{%- block header -%}
<div class="px-3 d-flex gap-2 bg-white border-bottom">
    <div class="text-lg-start text-success h5"><sub> GLOOME
        {{title[0]|safe}} <small id="title" class="text-warning-emphasis text-opacity-25">{{title[1]|safe}}</small></sub>
    </div>
</div>
</header>
{%- endblock -%}

{%- block content -%}
{%- endblock -%}

{%- block messages -%}
{%- for cat, msg in get_flashed_messages() -%}
<div class="alert {{cat}}">{{msg}}</div>
{% endfor -%}
{%- endblock -%}
</body>
</html>
