<!doctype html>
{% import 'base_newick_tools.html' as nwt %}
<html lang="en">
<head>
    <META NAME="date" CONTENT="2014-03-20">
    <META NAME="author"
          CONTENT="Ofir Cohen , Haim Ashkenazy , Frida Belinky , Dorothée Huchon , Tal Pupko">
    <META NAME="keywords" CONTENT="gain and loss rates, gain and loss events, GLOOME server">
    <META NAME="description" CONTENT="GLOOME: gain loss mapping engine">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
{#    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">#}
{#    <meta name="viewport"#}
{#          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">#}
    <title>GLOOME{%- block title -%}{%- for subtitle in title -%}{{subtitle}}{% endfor -%}{%- endblock -%}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {%- block scripts -%}
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    {%- endblock -%}
</head>
{%- if data -%}
    <body onload="showResponse({{data|tojson}})">
{% else -%}
    <body>
{% endif -%}
{%- block menu -%}
<header class="sticky-top bg-white">
<div class="d-flex gap-2 horizontal-gradient flex-row">
    <div class="navbar-brand mx-2 my-0">{{nwt.svg()}}</div>
    <div class="d-flex gap-2 flex-row flex-grow-1 justify-content-center">
    <div class="m-2 d-flex gap-2">
        {%- for m in menu -%}
            {%- if m.submenu -%}
            <div class="dropdown">
                <button type="button" class="w-auto h-auto form-control btn btn-outline-success rounded-2 btn-secondary dropbtn">{{m.name}}</button>
                <div class="dropdown-content">
                    {%- for submenu in m.submenu -%}
                        <a class="w-auto float-star form-control btn btn-outline-success rounded-2" href="{{url_for(submenu.url)}}">{{submenu.name}}</a>
                    {% endfor -%}
                </div>
            </div>
            {% else -%}
                <a class="w-auto float-star form-control btn btn-outline-success rounded-2" href="{{url_for(m.url)}}">{{m.name}}</a>
            {% endif -%}
        {% endfor -%}
{#        <label for="jobId" class="w-auto float-star form-control btn btn-outline-success rounded-2">READ JOB BY ID</label>#}
{#        <input id="jobId" name="jobId" type="number" title="please provide job id here" onchange="validateInput('jobId', )"#}
{#               min="1" max="999999999999999" step="0.1" class="w-auto float-star form-control btn btn-outline-success rounded-2"/>#}
    </div>
    </div>
</div>
{%- endblock -%}
{%- block header -%}
<div class="px-3 d-flex gap-2 bg-white border-bottom">
    <div class="text-lg-start text-success h5"><sub> GLOOME
        {{title[0]|safe}}<small id="title" class="text-warning-emphasis text-opacity-25">{{title[1]|safe}}</small></sub>
    </div>
</div>
</header>
{%- endblock -%}

{%- block content -%}
{%- endblock -%}

{%- block messages -%}
{%- for cat, msg in get_flashed_messages() -%}
<div class="alert {{cat}}">{{msg}}</div>
{% endfor -%}
{%- endblock -%}
</body>
</html>
