{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="h5 m-3 text-secondary-emphasis text-center">
        GLOOME: Gain Loss Mapping Engine
    </div>
    <div class="h6 m-3 text-secondary text-center">
        Cohen, O., Ashkenazy, H., Belinky, F., Huchon, D., and Pupko, T. 2010. GLOOME: gain loss mapping engine. Bioinformatics 26(22):2914-2915.
        [<a href="https://www.tau.ac.il/~talp/publications/GLOOME.pdf" target="_blank">pdf</a>] [<a href="https://academic.oup.com/bioinformatics/article/26/22/2914/228050" target="_blank">abs</a>]
    </div>

</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
