{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="d-flex gap-2 flex-column m-5 align-items-center">
    <div class="h5 m-3 text-secondary overview-text">
        We present GLOOME (Gain Loss Mapping Engine), a user-friendly web server for the evolutionary analysis of presence–absence data (phyletic patterns). The server enables accurate inference of gain and loss events along phylogenetic trees, providing branch-specific and site-specific estimates of evolutionary events. GLOOME is based on probabilistic models that describe gain and loss dynamics as a stochastic process, allowing a realistic representation of the underlying evolutionary mechanisms.
    </div>
{#    <div class="h5 m-3 text-info-emphasis overview-text">#}
    <div class="h5 m-3 text-secondary overview-text">
        The core methodology of GLOOME relies on advanced probabilistic models that capture variability in gain and loss rates across characters. Unlike traditional parsimony-based analyses, which may be misleading under complex evolutionary scenarios, GLOOME provides probabilistic estimates of the probability of gain and loss events on each branch of the phylogeny. The server supports multiple evolutionary models, including models that allow rate variation among characters.
    </div>
{#    <div class="h5 m-3 text-light-emphasis overview-text">#}
    <div class="h5 m-3 text-secondary overview-text">
        Users can upload phyletic patterns in the form of a binary (0/1) matrix and optionally provide a phylogenetic tree, or alternatively infer the tree directly from the data. The server offers both probabilistic and parsimony-based inference as well as visualization of inferred events. Results are presented both textually and graphically, making the system accessible to both novice and advanced users.
    </div>
</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
