{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="w-97 pt-5 d-flex gap-2 flex-column align-items-center">
    <div class="my-5">
{#    <div class="d-flex gap-2 flex-row my-5 justify-content-center hidden">#}
{#        <div class="h6 text-success">#}
{#            Sorry, the site is under construction#}
{#        </div>#}
    </div>
    <table class="w-60 m-3 p-4">
        <tbody>
        <tr>
            <th class="px-4 pt-3 tborder-2 border-secondary-subtle w-auto align-bottom">
                <div class="d-flex gap-2 flex-column mx-5">
                    <div class="d-flex gap-2 h6 text-secondary">
                        Gloome (old version)
                    </div>
                </div>
            </th>
            <td class="w-auto align-bottom">
                <div class="d-flex gap-2 flex-row h-auto w-100">
                    <div class="d-flex gap-2 flex-row">
                        <div class="w-20 d-flex gap-2 mx-3 flex-row form-control btn-outline-secondary bg-secondary-subtle border-0 rounded-3">
                            <div class="d-flex gap-2 flex-column w-80 align-items-start">
                                <a class="font-verdana text-light-emphasis h7" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266" title="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266" data-linkindex="1">Release VR01.266 · talpupko-lab/GLOOME
                                </a>
                                <a class="font-verdana text-light-emphasis h8" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266" title="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266" data-linkindex="2">github.com
                                </a>
                            </div>
                            <div class="d-flex gap-2 flex-column w-20 justify-content-center align-items-end">
                                <a data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266" data-linkindex="3" title="https://github.com/talpupko-lab/GLOOME/releases/tag/VR01.266">
                                    <svg height="32" aria-hidden="true" viewBox="0 0 24 24" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github">
                                        <path d="M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.193 10.193 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="px-4 pt-3 tborder-2 border-secondary-subtle w-auto align-bottom">
                <div class="d-flex gap-2 flex-column mx-5">
                    <div class="d-flex gap-2 h6 text-secondary">
                        Gloome
                    </div>
                </div>
            </th>
            <td class="w-auto align-bottom">
                <div class="d-flex gap-2 flex-row h-auto w-100">
                    <div class="d-flex gap-2 flex-row">
                        <div class="w-20 d-flex gap-2 mx-3 flex-row form-control btn-outline-secondary bg-secondary-subtle border-0 rounded-3">
                            <div class="d-flex gap-2 flex-column w-80 align-items-start">
                                <a class="font-verdana text-light-emphasis h7" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/gloome-python.git" title="https://github.com/talpupko-lab/gloome-python.git" data-linkindex="1">Source code · talpupko-lab/gloome-python
                                </a>
                                <a class="font-verdana text-light-emphasis h8" data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/gloome-python.git" title="https://github.com/talpupko-lab/gloome-python.git" data-linkindex="2">github.com
                                </a>
                            </div>
                            <div class="d-flex gap-2 flex-column w-20 justify-content-center align-items-end">
                                <a data-auth="NotApplicable" rel="noopener noreferrer" target="_blank" href="https://github.com/talpupko-lab/gloome-python.git" data-linkindex="3" title="https://github.com/talpupko-lab/gloome-python.git">
                                    <svg height="32" aria-hidden="true" viewBox="0 0 24 24" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github">
                                        <path d="M12 1C5.923 1 1 5.923 1 12c0 4.867 3.149 8.979 7.521 10.436.55.096.756-.233.756-.522 0-.262-.013-1.128-.013-2.049-2.764.509-3.479-.674-3.699-1.292-.124-.317-.66-1.293-1.127-1.554-.385-.207-.936-.715-.014-.729.866-.014 1.485.797 1.691 1.128.99 1.663 2.571 1.196 3.204.907.096-.715.385-1.196.701-1.471-2.448-.275-5.005-1.224-5.005-5.432 0-1.196.426-2.186 1.128-2.956-.111-.275-.496-1.402.11-2.915 0 0 .921-.288 3.024 1.128a10.193 10.193 0 0 1 2.75-.371c.936 0 1.871.123 2.75.371 2.104-1.43 3.025-1.128 3.025-1.128.605 1.513.221 2.64.111 2.915.701.77 1.127 1.747 1.127 2.956 0 4.222-2.571 5.157-5.019 5.432.399.344.743 1.004.743 2.035 0 1.471-.014 2.654-.014 3.025 0 .289.206.632.756.522C19.851 20.979 23 16.854 23 12c0-6.077-4.922-11-11-11Z"></path>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
