{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="d-flex gap-2 flex-row my-5 justify-content-center">
    <div class="h6 text-success">
        This website is under construction. Please check back later
    </div>
</div>
{% endblock %}
{% block messages %}
{{ super() }}
{% endblock %}
